@model Term_Project.Models.UserMataData
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">

    <div style="width:60%; margin-left:20%">
        <h2>    Use your account to log in</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                <ul>
                    <li>
                        Enter Name:
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <br />
                    <br />
                    <li>
                        Enter Password
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <br />
                </ul>
                <input type="submit" value="Log in" class="btn btn-success" style="margin-left:30%;width:33%" />
            </fieldset>
            <p>
                <br />
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        }
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
